@charset "UTF-8";
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

html {
  font-size: 62.5%;
  margin: 0;
}
@media screen and (min-width: 577px) {
  html {
    max-width: 1400px;
  }
}

body {
  margin: 0 auto;
  background-color: hsl(0, 0%, 100%);
  font: 500 1.6rem "Space Grotesk", Arial, Verdana, sans-serif;
  color: hsl(277, 69%, 18%);
}
@media screen and (min-width: 577px) {
  body {
    display: flex;
  }
}

main {
  height: calc(100vh - 40px - min(130px + 41.2087912088vw, 267.3626373626px));
  width: 100%;
}
@media screen and (min-width: 577px) {
  main {
    height: 100vh;
  }
}

@keyframes errorMsg {
  0% {
    transform: translateY(-20px);
  }
  20% {
    transform: translateY(0);
  }
  95% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    display: none;
    opacity: 0;
  }
}
@keyframes shakeInput {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes rollConfirmation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1080deg);
  }
}
header {
  height: calc(130px + 41.2087912088vw);
  max-height: 267.3626373626px;
  margin-bottom: 40px;
}
@media screen and (min-width: 577px) {
  header {
    min-width: max(min(15vw, 200px) + 300px, min(15vw, 200px) + min(25vw, 400px));
    margin-right: 50px;
  }
}

.main-container {
  padding: 0px 25px;
  width: 100%;
}
@media screen and (min-width: 577px) {
  .main-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.hide {
  display: none;
}

.cards-bloc {
  height: 220px;
  width: auto;
  background-image: url(../images/bg-main-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(130%);
}
@media screen and (min-width: 577px) {
  .cards-bloc {
    position: absolute;
    background-image: url(../images/bg-main-desktop.png);
    min-height: 100vh;
    width: 30vw;
    max-width: 400px;
  }
}

.card-container {
  width: 100%;
  padding: 25px 25px 0px;
}
@media screen and (min-width: 577px) {
  .card-container {
    width: auto;
    position: absolute;
  }
}
.card-container__item {
  position: absolute;
}
@media screen and (min-width: 577px) {
  .card-container__item {
    min-width: 300px;
    width: min(25vw, 400px);
  }
}
.card-container__item--pic {
  -o-object-fit: cover;
     object-fit: cover;
  width: 75vw;
  max-width: 250px;
  filter: saturate(1.5);
}
@media screen and (min-width: 577px) {
  .card-container__item--pic {
    min-width: 300px;
    max-width: min(25vw, 400px);
  }
}
.card-container__front {
  z-index: 2;
  top: 130px;
}
@media screen and (min-width: 577px) {
  .card-container__front {
    top: 15vh;
    left: min(10vw, 100px);
  }
}
.card-container__front--icon {
  position: absolute;
  width: 15%;
  max-width: 60px;
  z-index: 3;
  top: 8%;
  left: 4%;
  box-shadow: none;
  border-radius: 0;
}
.card-container__front--number {
  font: 500 2rem "Space Grotesk", Arial, Verdana, sans-serif;
  color: hsl(0, 0%, 100%);
  position: absolute;
  left: 4%;
  bottom: 35%;
  letter-spacing: 3px;
  font-size: min(0.9em, 4cqw);
}
@media screen and (min-width: 577px) {
  .card-container__front--number {
    font-size: max(1.4cqw, 1.8rem);
  }
}
@media screen and (min-width: 1600px) {
  .card-container__front--number {
    font-size: 1.6em;
  }
}
.card-container__front--name {
  font: 500 2rem "Space Grotesk", Arial, Verdana, sans-serif;
  color: hsl(0, 0%, 100%);
  position: absolute;
  left: 4%;
  bottom: 15%;
  letter-spacing: 3px;
  font-size: min(0.8rem, 2.5cqw);
}
@media screen and (min-width: 577px) {
  .card-container__front--name {
    font-size: max(0.7cqw, 1rem);
  }
}
@media screen and (min-width: 1600px) {
  .card-container__front--name {
    font-size: 0.8em;
  }
}
.card-container__front--date {
  font: 500 2rem "Space Grotesk", Arial, Verdana, sans-serif;
  color: hsl(0, 0%, 100%);
  position: absolute;
  right: 10%;
  bottom: 15%;
  letter-spacing: 3px;
  font-size: min(0.8rem, 2.5cqw);
}
@media screen and (min-width: 577px) {
  .card-container__front--date {
    font-size: max(0.7cqw, 1rem);
  }
}
@media screen and (min-width: 1600px) {
  .card-container__front--date {
    font-size: 0.8em;
  }
}
.card-container__back {
  z-index: 1;
  top: 50px;
  right: 5%;
}
@media screen and (min-width: 577px) {
  .card-container__back {
    top: max(15vh + 164.8351648352px + 25px, 15vh + min(25vw, 400px) / 1.82 + 25px);
    left: min(15vw, 200px);
  }
}
.card-container__back--code {
  font: 500 2rem "Space Grotesk", Arial, Verdana, sans-serif;
  color: hsl(0, 0%, 100%);
  position: absolute;
  right: 11%;
  bottom: 48%;
  letter-spacing: 3px;
  font-size: min(0.8em, 2.5cqw);
}
@media screen and (min-width: 577px) {
  .card-container__back--code {
    font-size: max(0.7cqw, 1rem);
  }
}
@media screen and (min-width: 1600px) {
  .card-container__back--code {
    font-size: 0.8em;
  }
}

.card-form__label {
  font: 500 1.6rem "Space Grotesk", Arial, Verdana, sans-serif;
  color: hsl(277, 69%, 18%);
  display: block;
  margin-bottom: 5px;
  margin-top: 20px;
}
.card-form__label--first {
  margin-top: 0px;
}

.card-form__input {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 50px;
  border-radius: 8px;
  outline: none;
  border: hsl(270, 3%, 87%) solid 2px;
  font: 500 1.6rem "Space Grotesk", Arial, Verdana, sans-serif;
  color: hsl(277, 69%, 18%);
  padding-left: 10px;
}
.card-form__input:focus {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  border: solid 3px transparent;
  background-image: linear-gradient(white, white), linear-gradient(45deg, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
.card-form__input::-moz-placeholder {
  font: 500 1.6rem "Space Grotesk", Arial, Verdana, sans-serif;
  color: hsl(270, 3%, 87%);
}
.card-form__input::placeholder {
  font: 500 1.6rem "Space Grotesk", Arial, Verdana, sans-serif;
  color: hsl(270, 3%, 87%);
}
.card-form__input.errShake {
  border-width: 5px;
  animation: shakeInput 0.2s 2;
  border-color: red;
}

.card-form {
  width: 100%;
}
.card-form__button {
  width: 100%;
  background-color: hsl(277, 69%, 18%);
  outline: none;
  border: none;
  border-radius: 8px;
  height: 50px;
  margin-top: 30px;
  cursor: pointer;
  font: 500 1.6rem "Space Grotesk", Arial, Verdana, sans-serif;
  color: hsl(270, 3%, 87%);
}
.card-form__exp-code {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  -moz-column-gap: 20px;
       column-gap: 20px;
  width: 100%;
}
.card-form__exp-code--exp {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.card-form__errorMessage {
  display: none;
  color: hsl(0, 100%, 66%);
  margin-top: 5px;
  text-align: center;
}
@media screen and (min-width: 577px) {
  .card-form__errorMessage {
    text-align: left;
  }
}
.card-form__errorMessage.show-msg {
  display: block;
  animation: errorMsg 3s forwards; /* Applique l'animation lorsque la classe show-animation est ajoutée */
}
@media screen and (min-width: 577px) {
  .card-form__errorMessage.align-right {
    text-align: right;
  }
}

#card-number {
  letter-spacing: 3px;
}

.confirmation-bloc {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 550px;
}
.confirmation-bloc__icon {
  animation: rollConfirmation 1.2s cubic-bezier(0.71, 0.08, 0.26, 0.98);
  width: 30%;
  margin-bottom: 40px;
}
@media screen and (min-width: 577px) {
  .confirmation-bloc__icon {
    width: 9cqw;
  }
}
.confirmation-bloc__title {
  font: 500 3rem "Space Grotesk", Arial, Verdana, sans-serif;
  color: hsl(277, 69%, 18%);
  font-size: min(4rem, 4cqw);
  text-align: center;
  margin-bottom: 30px;
}
.confirmation-bloc p {
  color: hsl(279, 6%, 55%);
  font-size: min(2rem, 2cqw);
  text-align: center;
  margin-bottom: 50px;
}
.confirmation-bloc button {
  font: 500 1.6rem "Space Grotesk", Arial, Verdana, sans-serif;
  color: hsl(270, 3%, 87%);
  width: 100%;
  background-color: hsl(277, 69%, 18%);
  outline: none;
  border: none;
  border-radius: 8px;
  height: 50px;
  cursor: pointer;
  font: 500 1.6rem "Space Grotesk", Arial, Verdana, sans-serif;
  color: hsl(270, 3%, 87%);
}/*# sourceMappingURL=style.css.map */