html{
    font-size: $font-standard-proportions;
    margin: 0;
    @include desktop-screens{
        max-width: $global-page-max-width;
    }
}

body{
    margin: 0 auto;
    background-color: $color-bg-standard;
    @include font-package(standard);
    @include desktop-screens{
        display: flex;

    }
}

main{
    height: calc(100vh - 40px - min(
        calc(130px + (75vw / 1.82)),
        calc(130px + (250px / 1.82))
    ));
    width: 100%;
    @include desktop-screens{
        height: 100vh;
    }
}