
// PACKAGES DE POLICES
    // -> Standards mobiles
@mixin font-package($config: standard) {
    $package: map-get($font-package, $config);
    font: map-get($package, weight) map-get($package, size)+rem map-get($package, family),Arial, Verdana, sans-serif;
    color: map-get($package, color);
}
    // -> Ordinateurs
@mixin font-package-desktop($config: standard) {
    $package: map-get($font-package-desktop, $config);
    font: map-get($package, weight) map-get($package, size)+rem map-get($package, family),Arial, Verdana, sans-serif;
    color: map-get($package, color);
}
    // -> Spécifique, sur mesure
@mixin font-package-specific($weight: map-get($font-standard-package, weight), $size: map-get($font-standard-package, size), $family: map-get($font-standard-package, family), $color: map-get($font-standard-package, color)){
    font: $weight #{$size}rem '#{$family}',Arial,Verdana,sans-serif; 
    color: $color;
}

// --------------------------------
// MEDIAS QUERIES
@mixin desktop-screens {
    @media screen and (min-width: map-get($breakpoints, desktop)){
        @content;
    }
}
